* {
    padding: 0;
    margin: 0;
}

.header--section {
    color: #FFF;
    background: #000;
}

.footer-section {
    color: red;
    background: blue
}
.main--section h3 {
    color: blue;
}

.main--section p {
    background-color: lightgray;
}
